@font-face {
    font-family: "Super Milk";
    src: url(../assets/fontes/Super\ Milk.ttf);
}
@font-face {
    font-family: "Blue Style";
    src: url(../assets/fontes/Blue\ Style.otf);
}

:root{
    --tom1: #fafbfd;
    --tom2: #f38c83;
    --tom3: #eb0b30;
    --tom4: #831332;
    --tom5: #1b1a1f;
    --tom6: #83f3a0;
    --tom7: #f3d383;
}

html,
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tom4);
    background-image: url(../assets/imagens/BG.png);
    background-repeat: repeat;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo h1{
    font-family: super milk;
    font-size: 50px;
    color: #fafbfd;
    border: none;
    font-weight: normal;
    margin: 0;
}
.menu-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tom1);
    width: 300px;
    height: 150px;
    border-radius: 10px;
}
.menu-form input{
    padding: 0;
    margin: 0;
    background-color: var(--tom1);
    border-color: var(--tom2);
    border-radius: 5px;
    border-style: solid;
    width: 260px;
    height: 35px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Blue Style;
    font-size: 15px;
    font-weight: normal;
    color: var(--tom2)
}
.menu-form input::placeholder{
    color: var(--tom2);
}
.menu-form input:focus-visible{
    outline: none;
}
.menu-form button{
    padding: 0;
    background-color: var(--tom3);
    border-style: none;
    border-radius: 5px;
    width: 262px;
    height: 38px;
    color: var(--tom1);
    font-family: Blue Style;
    font-weight: normal;
    font-size: 15px;
}
.menu-create-new-room button{
    color: var(--tom1);
    font-family: Blue Style;
    font-weight: normal;
    font-size: 15px;
    background-color: #ffffff00;
    border: none;
}

@media (max-width: 980px) {
    
  }